/*--------------- home ------------------*/
/*----------------------------*/
/*-- multiple slideshow --*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  padding-top: 5%;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

h1 {
  text-align: center;
  font-size: 2.8em;
  font-weight: bolder;
  border-bottom: 1px solid #cce6ff;
  font-size: 36px;
  font-size: 2.8em;
}

h2 {
  text-shadow: shadow1, shadow2, shadow3;
  text-shadow: 3px 3px 0px #fff, 5px 5px 0px rgba(0,0,0,0.15);
}

h4 {
  padding-bottom: 5%;
  padding-top: 5%;
}

footer {
  font-size: 1.2em;
  border: 1px solid;
  margin: auto;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
  width:100%;
  height: 100px;
  position:absolute;
}

footer, .push {
  height: 100px;
}

footer a {
  color: #000000;
}

footer a:hover {
  color: #33adff;
}
/* nav bar */
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #4CAF50;
}

#travel {
  top: 80px;
  background-color: #2196F3;
}

#study {
  top: 140px;
  background-color: #f44336;
}

/* nav bar ends */

/*articles*/
.article-container {
  padding-bottom: 20px;
  clear: both;
}

.flex-container {
  display: inline-flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 500px;

}

.flex-container2 {
  background-color: #cce6ff;
}

/*articles end*/


/* Add responsiveness */
[class*="col-xs"] {
  /* For mobile phones: */
  width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width:500px) and (max-width: 768px) {
  .flex-child svg {
    width: 100%;
    min-width: 415px;
    height: 300px;
    margin-top: 5% !important;
    margin-bottom: 30% !important;
    margin-left: -73px !important;
    padding-top: 7% !important;
  }

  #artcicle-information {
    width: 100%;
    max-width: 427px;
    margin-top: 87%;
    margin-left: -495px;
    margin-right: 10px !important;
    padding-top: 10% !important;
  }

  .flex-child:first-child {
    clear: both;
  }

  .flex-child2 img {
    width: 100%;
    min-width: 415px;
    height: 300px;
    margin-left: -245px !important;
    margin-top: -1050px !important;
    margin-bottom: 200px;
    padding-top: -10%;
  }

  #artcicle-information2 {
    width: 100%;
    max-width: 300px;
    padding-right: 0px !important;
    margin-left: 15% !important;
    margin-top: 400px !important;
    margin-bottom: 25px;
  }

  .flex-child3 img {
    width: 100%;
    min-width: 350px;
    height: 300px;
    margin-left: -20%;
    margin-top: -2%;
  }

  #artcicle-information3 {
    max-width: 300px;
    margin-left: -23px !important;
    margin-top: 20% !important;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 769px) and (max-width:992px) {
  .flex-child svg {
    width: 100%;
    min-width: 390px;
    height: 300px;
    margin-top: 5% !important;
    margin-bottom: 0% !important;
    margin-left: -42% !important;
    padding-top: 7% !important;
  }

  #artcicle-information {
    width: 100%;
    max-width: 427px;
    margin-left: -37%;
    margin-right: 17px !important;
    padding-bottom: 0% !important;
  }

  .flex-child:first-child {
    clear: both;
  }

  .flex-child2 img {
    width: 100%;
    min-width: 380px;
    height: 300px;
    margin-left: -25% !important;
    margin-top: -300px !important;
    margin-bottom: 100px;
    padding-top: -10%;
  }

  #artcicle-information2 {
    width: 100%;
    max-width: 300px;
    padding-right: 0px !important;
    margin-left: 3% !important;
    margin-top: 40px !important;
    margin-bottom: 5px;
  }

  .flex-child3 img {
    width: 100%;
    min-width: 350px;
    height: 300px;
    margin-left: -45%;
    margin-top: 2%;
  }

  #artcicle-information3 {
    max-width: 300px;
    margin-left: 65% !important;
    margin-top: -88% !important;
    margin-right: -30%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 993px) and (max-width: 1500px) {
  .flex-child svg {
    width: 100%;
    min-width: 390px;
    height: 300px;
    margin-top: 5% !important;
    margin-bottom: 0% !important;
    margin-left: -34% !important;
    padding-top: 3% !important;
  }

  #artcicle-information {
    width: 100%;
    max-width: 427px;
    margin-top: 3%;
    margin-left: -37%;
    margin-right: 15px !important;
    padding-bottom: 0% !important;
  }

  .flex-child:first-child {
    clear: both;
  }

  .flex-child2 img {
    width: 100%;
    min-width: 380px;
    height: 300px;
    margin-left: -12% !important;
    margin-top: -300px !important;
    margin-bottom: 100px;
    padding-top: 10%;
  }

  #artcicle-information2 {
    width: 100%;
    max-width: 300px;
    padding-right: 0px !important;
    margin-left: 10% !important;
    margin-top: 40px !important;
    margin-bottom: 45px;
  }

  .flex-child3 img {
    width: 100%;
    max-width: 390px;
    height: 300px;
    margin-left: -36%;
    margin-top: 2%;
    margin-bottom: 23%;
  }

  #artcicle-information3 {
    max-width: 300px;
    margin-left: 67% !important;
    margin-top: -88% !important;
    margin-right: -30%;
  }
}
  /* For desktop: */
